@import '../variables';

.highlight {
  width: 100%;
  max-width: 1920px;
  height: 160vh;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1.5fr 1.5fr 1.5fr 1.8fr;
  margin-bottom: 400px;
  img {
    max-width: 100%;
  }

  .item {
    padding: 10px;
    margin: 20px !important;
    h3 {
      margin: 5px 0;
    }
  }

  .grid-item-0 {
    background-color: $lightGray;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-item-1 {
    background-color: $lightGray;
    padding: 0;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-item-2 {
    background-color: $lightGray;
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
  }

  .grid-item-3 {
    background-color: $lightGray;
    padding: 0;
    grid-column: 1 / span 2;
    grid-row: 2 / span 2;
  }

  .grid-item-4 {
    background-color: $lightGray;
    border: 2px $mainBlue;
    border-style: solid none;
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .grid-item-5 {
    color: $lightColor;
    background-color: $mainBlue;
    grid-column: 3 / span 1;
    grid-row: 3 / span 2;
  }

  .grid-item-6 {
    background-color: $lightGray;
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .grid-item-7 {
    background-color: $lightGray;
    border: 2px $mainBlue;
    border-style: none solid;
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  .grid-item-8 {
    color: $lightColor;
    background-color: $mainBlue;
    grid-column: 1 / span 1;
    grid-row: 5 / span 1;
  }

  .grid-item-9 {
    background-color: $lightGray;
    border: 2px $mainBlue;
    border-style: none solid;
    grid-column: 2 / span 1;
    grid-row: 5 / span 1;
  }

  .grid-item-10 {
    background-color: $lightGray;
    padding: 0;
    grid-column: 3 / span 1;
    grid-row: 5 / span 1;
  }
}

//WallPage

.place {
  width: 50px;
  min-height: 30vh;
  height: 100%;
}
