@use './variables' as *;

*,
body,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 600;
}

p,
label,
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  outline: none;

  &:link,
  &:visited,
  &:active {
    color: $mainBlue;
    text-decoration: none;
    outline: none;
  }
}

button,
input {
  border: none;
  outline: none;
}